<template>
  <div class="login-container" >
        <div class="login-info-container">
          <h1 class="title">LOGIN</h1>
          <form @submit="checkForm">
              <input class="input" type="email" name="correo" v-model= "correo" placeholder="Correo"><br><br>
              <input class="input" type="password" name="contraseña" v-model="Contraseña" placeholder="Contraseña"><br><br>
              <p>Olvido su contraseña? <a class="link"><router-link to="/cambiocontra">Click aquí</router-link></a></p><br><br>
              <p>No tiene una cuenta? <a class="link"><router-link to="/registro">Registrarse</router-link></a></p><br><br>
              <button class="cambio__submit" type="submit">Iniciar Sesión</button>
              
          </form>
        </div>
    </div> 
</template>

<script>
  export default {
     name: 'App',
     data() { 
        return{
            message: '',
            errors:[],
            correo:'',
            Contraseña:''
        }
     },
     methods: {
        checkForm:function(e) {e.preventDefault();
            this.errors = [];
            if(this.correo === '' || this.Contraseña === '') {
                alert("Se requieren que todos los datos estén completos")
            }
            else {
                alert("Ha iniciado sesión correctamente.")
                setTimeout(function(){
                    window.location.href = "/login";
                }, 1000);
            }
        }
    }
  }
</script>
<style>

.cambio__submit {
        color: #ffffff;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        margin-left: 0px;
        background: #ac03bb;
        border: none;
        cursor: pointer;
        }

:root {
    --login-bg:#ebe7f1;
    --title-bg: #64a101;
    --button-bg: #ff8b1f;
    --light-pink: #30a718;
    
}

body {
    height: 80vh;
    font-family: 'Poppins', sans-serif;
    background: #f3f3f3
}
.login-container {
    height: 100%;
    width: 70%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.login-info-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding-top: 0;
    background-color: var(--login-bg);
	margin: auto;
	padding: 30px;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
    position: center;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    position: center;

}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
   
    width: auto;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    

}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}

</style>
