<template>
    <div class="formulario">
        <br><img src="../assets/logo.jpeg"/><br><br>
        <h3>CAMBIO DE CONTRASEÑA</h3>
        <form action="" method="post" id="form" @submit="checkForm">
            <div class="username">
                <input type="email" v-model="correo">
                <label for="">Correo</label>
            </div>
            <div class="contrasena">
                <input type="password" v-model="contraseña1">
                <label for="">Contraseña actual</label>
            </div>
            <div class="contrasena">
                <input type="password" v-model="contraseña2">
                <label for="">Contraseña nueva</label>
            </div><br>
            <button class="cambio__submit" type="submit">Cambiar</button>
        </form>
    </div>
</template>
<script>
export default {
     name: 'Cambiocontra',
     data() { 
        return{
            message: '',
            errors:[],
            correo:'',
            contraseña1:'',
            contraseña2:''
        }
     },
     methods: {
        checkForm:function(e) {e.preventDefault();
            this.errors = [];
            if(this.correo === '' || this.contraseña1 === '' || this.contraseña2 === '') {
                alert("Se requieren que todos los datos estén completos")
            }
            else {''
                alert("Su contraseña ha sido cambiada exitosamente.")
                setTimeout(function(){
                    window.location.href = "/App";
                }, 1000);
            }
        }
    }
  }
</script>
<style>
    body{
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: #dd3e54; 
        background: -webkit-linear-gradient(to right, #6be585, #dd3e54); 
        background: linear-gradient(to right, #6be585, #dd3e54); 
        height: 100vh;
        }
        .formulario{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: white;
        border-radius: 10px;
        }
        .formulario h3{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
        }
        .formulario form{
        text-align: center;
        padding: 0 20px;
        box-sizing: border-box white;
        }
        form .username{
        position: relative;
        border-bottom: 2px solid #a3a2a2;
        margin: 20px 0;
        }
        form .contrasena{
            position: relative;
            border-bottom: 2px solid #a3a2a2;
            margin: 20px 0;
        }
        .username input{
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 16px;
            border: none;
            background: none;
            outline: none;
        }
        .contrasena input{
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 16px;
            border: none;
            background: none;
            outline: none;
        }
        .username label{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 5px;
            color: #a8a8a8;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            transition: .5s;
        }
        .contrasena label{
            position: absolute;
            top: 50%;
            left: 5px;
            color: #a8a8a8;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            transition: .5s;
        }
        .username span::before{
            content: '';
            position: center;
            top: 40px;
            left: 0;
            width: 100px;
            height: 2px;
            background: rgb(139, 47, 110);
        }
        .contrasena span::before{
            content: '';
            position: absolute;
            top: 40px;
            left: 0;
            width: 100px;
            height: 2px;
            background: rgb(139, 47, 110);
        }
        .username input:focus ~ label,
        .username input:valid ~ label{
            text-align: center;
            top: -5px;
            color: #6c3483;
        }
        .contrasena input:focus ~ label,
        .contrasena input:valid ~ label{
            top: -5px;
            color: #6c3483;
        }
        .username input:focus ~ span::before,
        .username input:focus ~ span::before{
            position: center;
            width: 100%;
        }
        .link{
            text-decoration: none;
            color: #6c3483;
            font-weight: 600px;
        }
        .link:hover{
            color: #1fddff;
        }
        .buttons {
            display: flex;
            justify-content: space-evenly;
        }
    
        .buttons__btn {
            text-decoration: none;
            padding: 1.3em 3em;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            background-color: #6c3483;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }
    
        .buttons__btn--contra:hover {
            background-color: #27ca89;
            box-shadow: 0px 15px 20px rgba(41, 207, 141, 0.4);
            transform: translateY(-7px);
        }
        .cambio__submit {
        color: #ffffff;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        margin-left: 0px;
        background: #ac03bb;
        border: none;
        cursor: pointer;
        }
    </style>