<template>
	<div class="header">
		<div class="margin">
			<div class="header-nav">
		
				<div class="header-mobile">
					<a href="#" class="search-mobile">&nbsp;</a>
					<a href="#" class="header-nav-mobile">&nbsp;</a>
				</div>
			</div>
		
		</div>
	</div>
	<div class="section">
		<div class="box-title">
			<ul class="ancle">
				<li><a href="/">INICIO</a></li>
			</ul>	
			<div class="margin">
				<h1>Egresados</h1>
			</div>
		</div>
		<div class="margin">
			<div class="article">
				<h2>LISTA DE ESTUDIANTES EGRESADOS CON TRABAJO</h2>
				<h3>Bolsa de Trabajo</h3>
				<p>KEVIN JAIR ANCHUNDIA VERA: GERENTE DE SOFTWARE</p>
				<br>
				<p>ALEXIS JAVIER TORRES TOALA: ASISTENTE DE REDES</p>
				<br>
				<p>JULEXI XIONARA SOLORZANO PALMA: AUXILIAR CONTABLE</p>
				<br>
				<p>JEFFERSON VICENTE TUMBACO PALMA: GERENTE FINANCIERO</p>
				<br>
				<p>MARÍA JAMILETH PALMA ZAMBRANO: AUDITORA FINANCIERA</p>
				<br><br>
				
			</div>
			<div class="main">
				<center><ul>
					<li><p>ACCESOS GENERALES</p></li>
				    <li><a class="link" ><router-link to="/aspirantes">ASPIRANTES</router-link></a></li>
					<li><a class="link"><router-link to="/horarios">HORARIOS</router-link></a></li>
					<li><a class="link"><router-link to="/ofertadetrabajo">OFERTA DE TRABAJO</router-link></a></li>
				</ul></center>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="margin">
			
			<address>
				<br>
				UNIVERSIDAD LAICA ELOY ALFAROO DE MANABÍ
				<br>
				TEL: +593 97 947 5590
				<br>
				EMAIL: Kajatupa123@gmail.com
				<br>
				<br>
			</address>
			<strong class="chiapas-nos-une"></strong>
		</div>
	</div>
	
</template>
