<script setup>
import { RouterLink } from "vue-router";
</script>

<template>
  <header>
  </header>
  <div class="texts">
      <h1 class="texts__title">SOFTWARE PARA BOLSA DE EMPLEO A GRADUADOS DE LA ULEAM</h1>
    </div>
  <section class="buttons">
    <router-link class="buttons_btn buttons_btn--login" to="/App"
      >Iniciar sesión</router-link>
  </section><br><br>
</template>

<style scoped>
header {
  width: 100%;
  height: 500px;
  background-image: url(../assets/empleosfuturo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color:#355070;
  text-align: center;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  margin-bottom: 50px;
}

.texts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texts__title {
  font-size: 3.5rem;
  margin-top:-20px;
  text-align: center;
}

.buttons {
  margin-top:50px;
  display: flex;
  justify-content: space-evenly;
}

.buttons__btn {
  text-decoration: none;
  padding: 1.3em 3em;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  background-color: #8f2d56;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttons__btn--login:hover {
  background-color: #d81159;
  box-shadow: 0px 15px 20px rgba(41, 207, 141, 0.4);
  transform: translateY(-7px);
}

.buttons__btn:active {
  transform: translateY(-1px);
}
</style>