<template>
	<div class="header">
		<div class="margin">
			<div class="header-nav">
				
				<div class="header-mobile">
					<a href="#" class="search-mobile">&nbsp;</a>
					<a href="#" class="header-nav-mobile">&nbsp;</a>
				</div>
			</div>
		
		</div>
	</div>
	<div class="section">
		<div class="box-title">
			<ul class="ancle">
				<li><a href="/">INICIO</a></li>
			</ul>	
			<div class="margin">
				<h1>HORARIOS DISPONIBLES</h1>
			</div>
		</div>
		<div class="margin">
			<div class="article">
				<h2>EN ESTA PÁGINA SE VISUALIZARA LOS HORARIOS DISPONIBLES DE LAS JORNADAS DE TRABAJO</h2>
				<p>Turno de Mañana <br>
					Lunes a Viernes <br>
					8:00am - 4:00pm <br>
					<br>
					Turno de Tarde<br>
					Lunes a Viernes <br>
					12:00pm a 8:00pm<br>
					<br>
					Turno de Noche<br>
					Lunes a Viernes <br>
					4:00pm a 12:00am<br>
                </p>
			</div>
			<div class="main">
				<center><ul>
					<li><p>ACCESOS GENERALES</p></li>
					<li><a class="link" ><router-link to="/aspirantes">ASPIRANTES</router-link></a></li>
					<li><a class="link"><router-link to="/ofertadetrabajo">OFERTA DE TRABAJO</router-link></a></li>
					<li><a class="link"><router-link to="/egresados">EGRESADOS</router-link></a></li>
					
				</ul></center>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="margin">
			
			<address>
				<br>
				UNIVERSIDAD LAICA ELOY ALFAROO DE MANABÍ
				<br>
				TEL: +593 97 947 5590
				<br>
				EMAIL: Kajatupa123@gmail.com
				<br>
				<br>
			</address>
		</div>
	</div>
	
</template>

<style>
@charset "utf-8";
* { margin: 0; padding: 0; line-height: 1; }

body { font: normal 60% Arial; background-color: #d4d6d5; }

.margin { width: 980px; margin: 0 auto; }
.margin:after { content: ""; display: block; clear: both; }

h2 { font: normal 2.2em Georgia; color: rgb(0, 0, 0); }
h3 { font: 2.2em Georgia; }
h4 { font: bold 1.2em Arial; margin-top: 15px; margin-bottom: 10px; color: #000; }
h4 a { text-decoration: none; color: #000; }
h2 a:hover, h3 a:hover, h4 a:hover { text-decoration: underline; }

.header-nav { background: rgb(14, 94, 21); border-top: 4px solid #177422; height: 38px; margin-bottom: 25px; }
.header-nav ul { float: left; width: 755px; }
.header-nav li { margin: 14px 0 0 25px; font-size: 1.1em; }
.header-nav li a { color: rgb(255, 255, 255); font-weight: bold; }
.header-nav li a:hover { text-decoration: underline; }
.header-nav form { margin: 6px 0 0 0; }

.box-title { background: #1a8a29; padding: 0 0 114px; }
.box-title + .margin { margin-top: -90px; }
.box-title h1 { color: rgb(255, 255, 255); font: normal 3.5em Georgia, "Times New Roman", serif; }
.box-title p { color: #fff; font: normal 2.4em Georgia, "Times New Roman", serif; margin-top: 15px; }

.ancle { width: 978px; margin: 0 auto 20px; padding-top: 18px; }
.ancle li { float: left; list-style: none; font-size: 1.2em; }
.ancle li:after { content: "/"; margin: 0 5px 0 5px; color: #fff; }
.ancle a { color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; }
.ancle a:hover { text-decoration: underline; }

.article { background: #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); border-top: 4px solid #75af7c; float: left; width: 682px; padding: 20px 25px; }
.article .padding { padding-bottom: 202px; }
.article ul { margin-left: 2.5%; }
.article h2 { margin: 0 0 20px; }
.article h3 { margin: 0 0 10px; font-size: 2em; }
.article p { font-size: 1.4em; font-family: "Georgia","Times New Roman",serif; line-height: 1.5; }
.article a { text-decoration: none; color: #0f751b; }
.article a:hover { text-decoration: underline; }

.article-oferta-educativa { background: #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); border-top: 4px solid #177422; float: left; width: 930px; padding: 20px 25px; }
.hiden { display: none; }

.article-margin { background: #fff; box-shadow: 0 1px 4px rgba(37, 161, 114, 0.3); border-top: 4px solid #177422; float: left; width: 930px; padding: 20px 25px; }
.article-margin p { font-size: 2em; line-height: 1.5; }

.divide-article-noticia { float: left; width: 48%; margin-left: 3%; }
.divide-article-noticia img { margin: 0 0 5px; max-width: 100%; border: 5px solid #fff; box-shadow: 0 1px 2px rgba(0,0,0,0.8); }
.divide-article-noticia h3 { margin: 0 0 10px; }
.divide-article-noticia h4 { font-size: 1.4em; }
.divide-article-noticia .listing a { text-decoration: none; }
.divide-article-noticia .listing a:hover h4 { color: #177422; }

.divide-article { float: left; width: 48%; margin-left: 2.5%; }
.divide-article h3 { margin: 0 0 10px; }
.divide-article .listing a { text-decoration: none; }
.divide-article .listing a:hover h4 { color: #177422; }
.first{ margin-left: 0; }

.main { background-color: #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); border-top: 4px solid #177422; float: right; width: 223px; }
.main li { list-style: none; font-size: 1.2em; }
.main a, .main p{ display: block; padding: 13px 14px 9px; color: #000; font-weight: bold; text-decoration: none; line-height: 1.5; }
.main a:hover { color: #177422; }
.main p { background: #16511b; color: #fff; }

.sitemap { margin-bottom: 15px; text-transform: uppercase; }
.sitemap h3 { font-size: 2em; }
.sitemap ul{ margin-left: 20px; }
.sitemap li { line-height: 2; font-size: 1.2em; font-weight: bold; }
.sitemap a, .sitemap h3 a { color: #000; text-decoration: none; }
.sitemap a:hover { color: #177422; }

.footer { background: rgb(25, 114, 17); padding-top: 30px; padding-bottom: 30px; }
.footer address { float: left; margin-left: 30px; color: #fff; font: 1.4em/1.43 "Times New Roman"; }

</style>