<template>
    <div>
    <header>
          <div class="nombre">
            <div class="img">
              <img src="../assets/LOGO-ULEAM-VERTICAL.png" alt="" />
            </div>
            <nav>
              <a class="link"><router-link to="/App">INICIO</router-link></a>
                    <a class="link" ><router-link to="/aspirantes">ASPIRANTES</router-link></a>
                    <a class="link"><router-link to="/horarios">HORARIOS</router-link></a>
                    <a class="link"><router-link to="/egresados">EGRESADOS</router-link></a>
            </nav>
          </div>
        </header>
        <center><div class="imagencentro" id="imagencentro"><img src="../assets/empleo.png" alt="" style="width:400px; height: 480px;"></div></center> 
      </div>
      </template>
      
      <script>
      
      </script>
      
      <style>
      
    
    .nombre .img img {
        width: 170px;
        height: 210px;
        position: absolute;
        top: 0%;
        left: 1%;
        width: 170px;
        height: 100px;
        overflow: hidden;
        
    }
    
    header {
        width:100%; 
        overflow:hidden;
        background:#478d1e;
        margin-bottom:20px;
    }
    
    .wrapper {
        width:90%; 
        max-width:1000px; 
        margin:auto;
        overflow:hidden;
    }
    
    header .logo {
        color:#f2f2f2;
        font-size:50px;
        line-height:200px;
        float:left;
    }
    
    header nav {
        float:right;
        line-height:100px;
    }
    
    header nav a {
        display:inline-block;
        color:#fff;
        text-decoration:none;
        padding:10px 20px;
        line-height:normal;
        font-size:20px;
        font-weight:bold;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease;
    }

    </style>