<template>
  <div class="register">
    <h2>Registro</h2>
    <form @submit.prevent="register">
      <center><img src="../assets/logo.jpeg"/></center>
      <div class="register__input">
        <input type="text" required v-model="nombres"/>
        <label>Nombres</label>
      </div>
      <div class="register__input">
        <input type="email" required v-model="email"/>
        <label>Email</label>
      </div>
      <div class="register__input">
        <input type="password" required v-model="password"/>
        <label>Contraseña</label>
      </div>
      <div class="register__input">
        <input type="text" required v-model="telefono"/>
        <label>Telefono</label>
      </div>
      <p>Una vez registrado, <a class="link"><router-link to="/App">Inicie Sesión</router-link></a></p><br>
      <button class="register__submit" type="submit">Registrar</button><br>
    </form>
  </div>
</template>
<script setup>

import { ref } from "vue";
import {useUserStore} from "../stores/user";

const email = ref ("");
const password = ref ("");

const userStore = useUserStore();
const register = () => {
userStore.register(email.value, password.value);


}
</script>

<style>
body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: #e1eec3;
    background: -webkit-linear-gradient(to right, #e1eec3, #f05053); 
    background: linear-gradient(to right, #e1eec3, #f05053); 
    height: 100vh;
}
.register {
  margin: 100px auto;
  width: 400px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.659);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register h2 {
  margin-bottom: 30px;
  color: rgb(5, 4, 4);
  text-align: center;
}

.register .register__input {
  position: relative;
}

.register .register__input input {
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
  color: rgb(5, 5, 5);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(14, 13, 13);
  outline: none;
  background: transparent;
}
.register .register__input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: rgb(19, 15, 15);
  pointer-events: none;
  transition: 0.5s;
}

.register .register__input input:focus ~ label,
.register .register__input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #121414;
  font-size: 12px;
}

.register__submit {
  
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  margin-left: 100px;
  background: purple;
  border: none;
  cursor: pointer;
}

p{
   margin: -5px 20px 5px;
    text-align: right;
    font-size: 16x;
    color: black;

 }
</style>