<script>
import { RouterView } from "vue-router";
</script>

<template>
  <main>
    <RouterView />
  </main>
</template>

<style>
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: ubuntu;
  background-color: #73d2de;
}
</style>